.App {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, rgba(113, 55, 227, 1) 0%, rgba(113, 55, 227, 1) 50%, rgba(71, 37, 163, 1) 100%);
  min-height: 100vh;
 }
 
 .App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
 }
 
 .App-logo:hover {
  transform: scale(1.1);
 }
 
 @media (prefers-reduced-motion: no-preference) {
  .App-logo {
     animation: App-logo-spin infinite 20s linear;
  }
 }
 
 .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 1rem;
 }
 
 .App-link {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
 }
 
 .App-link:hover {
  color: #ffffff;
 }
 
 @keyframes App-logo-spin {
  from {
     transform: rotate(0deg);
  }
  to {
     transform: rotate(360deg);
  }
 }
 
 @media (max-width: 768px) {
  .App-header {
     padding: 0 2rem;
     font-size: calc(8px + 1.5vmin); 
  }
 }
 
 @media (max-width: 480px) {
  .App-header {
     padding: 0 1rem;
     font-size: calc(6px + 1vmin); 
  }
 }
 

 @media (max-width: 480px) {
  .App-logo {
     height: 30vmin; 
  }
 }
 